.kytka img{
    transition: transform .2s;
    width:200px;
    height:auto;
    margin:0 auto;
    background-color: rgb(173, 173, 237);
    border-radius: 10px;
    border: 1px solid black;
}
.kytka img:hover{
    transform:scale(2.5);
}
